<%- include('../layouts/head.ejs') -%>
    <div class="container">
        <a href="create"> <button class="btn btn-dark" type="button">Add</button></a>
        <br/>
        <br/>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Day</th>
                    <th>Hour</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <% for( let dato=0; dato < datos.length; dato++ ) { %>
                    <tr>
                        <td>
                            <%= datos[dato].day %>
                        </td>
                        <td>
                            <%= datos[dato].hour %>
                        </td>
                        <td>
                            <%= datos[dato].image %>
                        </td>
                        <td>
                            <a href="delete/<%- datos[dato].id %> "><button class="btn btn-primary" type="button">Delete</button></a>
                            <a href="edit/<%- datos[dato].id %>"><button class="btn btn-primary" type="button">Edit</button></a>
                            <a href="post/<%- datos[dato].id %>"><button class="btn btn-primary" type="button">Publicar</button></a>
                        </td>
                    </tr>
                    <% } %>

            </tbody>
        </table>
    </div>


<%- include('../layouts/footer.ejs') -%>